
<br/><br/><br/>
<%= form_tag("/adminlogin", :method => "post") do %>
	<fieldset>
		<legend>Admin Login</legend>
		<div class="clearfix">
      		<%= label_tag(:name, "Username:") %>
      		<div class="input">
      			<%= text_field_tag(:name) %>
      		</div>
      	</div>
      	<div class="clearfix">
      		<%= label_tag(:password, "Password:") %>
      		<div class="input">
	      		<%= password_field_tag(:password) %>
      		</div>
      	</div>
      	<div class="actions">
      		<%= submit_tag "Log in", :class => 'btn primary' %>
    	</div>
	</fieldset>
<% end %>
