<div class="row">
  	<div class="span12">
<%= form_for(@bar) do |f| %>
  <% if @bar.errors.any? %>
    <div id="error_explanation" class="alert-message error">
		<% @bar.errors.full_messages.each do |msg| %>
        	<p><strong><%= msg %></strong></p>
     	<% end %>
    </div>
  <% end %>

  <fieldset>
  <legend>Bar Information</legend>
  <div class="clearfix">
    <div class="input">* indicates required field</div>
  </div>
  <div class="clearfix">
    <%= f.label :name, 'Bar Name' %>
    <div class="input">
    	<%= f.text_field :name, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :address %>
    <div class="input">
	    <%= f.text_field :address, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :city %>
    <div class="input">
	    <%= f.text_field :city, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :state %>
    <div class="input">
	    <%= f.select :state, ['AK','AL',
				'AR',
				'AZ',
				'CA',
				'CO',
				'CT',
				'DC',
				'DE',
				'FL',
				'GA',
				'HI',
				'IA',
				'ID',
				'IL',
				'IN',
				'KS',
				'KY',
				'LA',
				'MA',
				'MD',
				'ME',
				'MI',
				'MN',
				'MO',
				'MS',
				'MT',
				'NC',
				'ND',
				'NE',
				'NH',
				'NJ',
				'NM',
				'NV',
				'NY',
				'OH',
				'OK',
				'OR',
				'PA',
				'RI',
				'SC',
				'SD',
				'TN',
				'TX',
				'UT',
				'VA',
				'VT',
				'WA',
				'WI',
				'WV',
				'WY'], 
				:include_blank => true %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :zip %>
    <div class="input">
	    <%= f.text_field :zip, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :username %>
    <div class="input">
	    <%= f.text_field :username, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
	    <%= f.password_field :password, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation, 'Confirm' %>
    <div class="input">
	    <%= f.password_field :password_confirmation, :size => 40, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
	    <%= f.text_field :email, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="clearfix">
  	<%= f.label :bar_type %>
  	<div class="input">
  		<%= f.select :bar_type, ['Pub','Sports Bar','Night Club','Wine Bar','Cocktail Lounge','College Bar','Specialty'], :include_blank => true %>
  	</div>
  </div>
  <div class="alert-message info">
  	<strong>What's the business reference all about?</strong><br/><br/>
  	Well, we need you to provide some external URL reference for your bar, such as <a href="http://www.yelp.com" target="_blank">Yelp!</a>, so
  	we can verify that your bar really exists.  Once we get your signup request we'll check out the reference, find a
  	phone number, then call your bar to verify that you actually are the one signing up for Barview.  Once we get your confirmation
  	then you'll be approved and ready to stream!
  </div>
  <div class="clearfix">
    <label for="reference">Business Reference URL (yelp.com, etc.): </label>
    <div class="input">
	    <%= f.text_field :reference, :class => 'input-xlarge' %>
    </div>
  </div>
  <% if @show_tos %>
  <div class="clearfix">
    <label for="terms">I have read and agree to the <a target="_blank" href="<%= @base_url %>/tos.html">Terms of Use</a>: </label>
    <div class="input">
      <%= check_box_tag 'tos', 'yes', false, :class => 'accept_tos' %>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <% if @show_tos %>
    <%=button_tag @button_text,  :type => 'button', :class => 'btn primary', :onclick => 'validateTOSAcceptance();' %>
    <% else %>
    <%=submit_tag @button_text, :class => 'btn primary' %>
    <% end %>
  </div>
  </fieldset>
<% end %>

</div> <!-- span12 -->
</div> <!-- row -->