<div class="row">
	<div class="span16">
	<h1>Listing bars</h1>
	
	<!-- ERROR/INFO MESSAGES -->
	<% if flash[:error] %>
		<div class="alert-message error"><p><%= flash[:error] %></div>
	<% end
	if flash[:notice] %>
		<div class="alert-message info"><p><%= flash[:notice] %></div>
	<% end %>
	
	<table>
	  <tr>
		<th>Id</th>
		<th>Name</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<!--<th>Lat</th>
		<th>Lng</th>-->
		<th>Username</th>
		<!--<th>Hashed Password</th>
		<th>Salt</th>-->
		<th>Email</th>
		<th>Reference</th>
		<th>Verified</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
	
	<% @bars.each do |bar| %>
	  <tr>
		<td><%= bar.id %></td>
		<td><%= bar.name %></td>
		<td><%= bar.address %></td>
		<td><%= bar.city %></td>
		<td><%= bar.state %></td>
		<td><%= bar.zip %></td>
		<!--<td><%= bar.lat %></td>
		<td><%= bar.lng %></td>-->
		<td><%= bar.username %></td>
		<!--<td><%= bar.hashed_password %></td>
		<td><%= bar.salt %></td>-->
		<td><%= bar.email %></td>
		<td><%= bar.reference %></td>
		<td><%= bar.verified %></td>
		<td><%= link_to 'Show', bar %></td>
		<td><%= link_to 'Edit', edit_bar_path(bar) %></td>
		<td><%= link_to 'Destroy', bar, :confirm => 'Are you sure?', :method => :delete %></td>
		<% if bar.verified == 0 %>
		<td><%= link_to 'Verify', bars_path(:verify => bar.id) %></td>
		<% end %>
	  </tr>
	<% end %>
	</table>
	
	<!--<br />
	<%= link_to 'New Bar', new_bar_path %>-->
	</div>
</div>