<div class="row">
  	<div class="span12">
<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert-message error">
		<% @user.errors.full_messages.each do |msg| %>
        	<p><strong><%= msg %></strong></p>
     	<% end %>
    </div>
  <% end %>
	<fieldset>
		<legend>User Information</legend>
		<div class="clearfix">
          <div class="input">* indicates required field</div>
        </div>
			<div class="clearfix">
	  			<%= f.label :first_name %>
	  			<div class="input">
					<%= f.text_field :first_name, :class => 'input-xlarge' %>
				</div>
	  		</div>
	  
	  		<div class="clearfix">
				<%= f.label :last_name %>
				<div class="input">
					<%= f.text_field :last_name, :class => 'input-xlarge' %>
				</div>
			</div>
			<div class="clearfix">
				<%= f.label :email %>
				<div class="input">
					<%= f.text_field :email, :class => 'input-xlarge' %>
				</div>
			</div>
			
			<% if @button_text != 'Update info' %>
			<!-- We are only showing the password fields if this is a new user signing up.  Otherwise,
				 the password fields will be in their own form at the bottom of the screen. -->
	  		<div class="clearfix">
				<%= f.label :password %>
				<div class="input">
					<%= f.password_field :password, :class => 'input-xlarge' %>
				</div>
	  		</div>
	  		<div class="clearfix">
				<%= f.label :password_confirmation %>
				<div class="input">
					<%= f.password_field :password_confirmation, :size => 40, :class => 'input-xlarge' %>
				</div>
	 		</div>
	 		<% end %>
	  		
	  		<div class="clearfix">
				<label for="dob">Date of Birth (YYYY-MM-DD)</label>
				<div class="input">
					<%= f.text_field :dob, :class => 'input-xlarge' %>
				</div>
	  		</div>
	  		<div class="clearfix">
				<%= f.label :city %>
				<div class="input">
					<%= f.text_field :city %>
				</div>
	  		</div>
	  		<div class="clearfix">
				<%= f.label :state %>
				<div class="input">
					<%= f.select :state, ['AK','AL',
				'AR',
				'AZ',
				'CA',
				'CO',
				'CT',
				'DC',
				'DE',
				'FL',
				'GA',
				'HI',
				'IA',
				'ID',
				'IL',
				'IN',
				'KS',
				'KY',
				'LA',
				'MA',
				'MD',
				'ME',
				'MI',
				'MN',
				'MO',
				'MS',
				'MT',
				'NC',
				'ND',
				'NE',
				'NH',
				'NJ',
				'NM',
				'NV',
				'NY',
				'OH',
				'OK',
				'OR',
				'PA',
				'RI',
				'SC',
				'SD',
				'TN',
				'TX',
				'UT',
				'VA',
				'VT',
				'WA',
				'WI',
				'WV',
				'WY'], 
				:include_blank => true %>
				</div>
	  		</div>
	  		<div class="clearfix">
				<%= f.label :gender %>
				<div class="input">
					<%= select("user", "gender", %w{Male Female}, {:prompt => 'Select One'}) %>
				</div>
	  		</div>
	  		<% if @show_tos %>
	  		<div class="clearfix">
    			<label for="terms">I have read and agree to the <a target="_blank" href="<%= @base_url %>/tos.html">Terms of Use</a>: </label>
    			<div class="input">
      				<%= check_box_tag 'tos', 'yes', false, :class => 'accept_tos' %>
    			</div>
  			</div>
  			<% end %>
	 		<div class="actions">
	 			<% if @show_tos %>
				<%=button_tag @button_text,  :type => 'button', :class => 'btn primary', :onclick => 'validateTOSAcceptance();' %>
				<% else %>
				<%=submit_tag @button_text, :class => 'btn primary' %>
				<% end %>
	  		</div>
	  	</fieldset>
	  	<% end %>
	  	
	  	<% if @button_text == 'Update info' %>
			<%= form_for(@user) do |f| %>
			  <fieldset>
				<legend>Change Password</legend>
				  <div class="clearfix">
                <%= f.label :password %>
                <div class="input">
	              <%= f.password_field :password, :class => 'input-xlarge' %>
                </div>
              </div>
              <div class="clearfix">
                <%= f.label :password_confirmation, 'Confirm' %>
                <div class="input">
	              <%= f.password_field :password_confirmation, :size => 40, :class => 'input-xlarge' %>
                </div>
              </div>
			  <div class="actions">
				<%=button_tag "Change password", :type => 'button', :class => 'btn primary', :onclick => 'checkChangePassword("user");' %>
			  </div>
			  </fieldset>
			<% end %>
	  	<% end %>
	</div> <!-- span8 -->
  </div>
