<h1>Listing bar_events</h1>

<table>
  <tr>
    <th>Bar</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bar_events.each do |bar_event| %>
  <tr>
    <td><%= bar_event.bar_id %></td>
    <td><%= bar_event.detail %></td>
    <td><%= link_to 'Show', bar_event %></td>
    <td><%= link_to 'Edit', edit_bar_event_path(bar_event) %></td>
    <td><%= link_to 'Destroy', bar_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bar event', new_bar_event_path %>
