<!DOCTYPE html>
<html>
<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>bar-view.com</title> 
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.fancybox" %>

  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %>
  <%= stylesheet_link_tag "jquery.fancybox" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @is_bar_side %>
	<div class="topbar">
		<div class="fill">
			<div class="container">
				<h3><a href="<%= @base_url %>">Bar-view.com</a></h3>
				<ul>
					<li class="active"><a href="<%= @base_url %>/barhome">Home</a></li>
					<% if session[:bar_id] %>
						<li><a href="<%= @base_url %>/editinfo">Edit Info</a></li>
					<% end %>
					<li><a href="<%= @base_url %>/about/index">About us</a></li>
				</ul>
			<!--	<?php echo form_open('search/submit'); ?>
					<?php 
						$search_atts = array('id' => 'search', 'name' => 'search', 'maxlength' => '100', 'placeholder' => 'Search bars');
						echo form_input($search_atts); 
					?>
				<?php echo form_close(); ?>-->
				<ul class="nav secondary-nav">
					<% if session[:bar_id] %>
						<li><!--<a href="<%= @base_url %>/logout">Log out</a>-->
						<%= link_to("Log out", @base_url + "/logout", :method => :delete)%></li>
					<% else %>
						<li><a href="<%= @base_url %>/userhome">Users</a></li>
						<li><a id="bar_login" href="#data">Login</a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>	

	<div class="container">
		<br/><br/><br/>
		
		<!-- ERROR/INFO MESSAGES -->
		<% if flash[:error] %>
			<div class="alert-message error"><p><%= flash[:error] %></div>
		<% end
		if flash[:notice] %>
			<div class="alert-message info"><p><%= flash[:notice] %></div>
		<% end %>
		
		<div style="display:none">
			<div id="data" style="overflow-x: auto; overflow-y: auto; width: 450px; height: 250px; ">
				<%= form_tag("/login", :method => "post") do %>
					<!--<?php echo validation_errors('<div class="alert-message error"><p><strong>','</strong></p></div>')?>-->
					<fieldset>
						<div class="clearfix">
							<label for="username">Username: </label>
							<div class="input">
								<!--<?php echo form_input('username', set_value('username'));?>-->
								<input type="text" name="name" id="name" />
							</div>
						</div>
						<div class="clearfix">
							<label for="password">Password: </label>
							<div class="input">
								<!--<?php echo form_password('password');?>-->
								<input type="password" name="password" id="password" />
							</div>
						</div>
						<div class="actions">
							<input type="submit" name="submit" value="Login" class="btn primary" />
							<!--<?php 
								$options = array('name'=>'submit', 'value'=>'Login', 'class'=>'btn primary');
								echo form_submit($options);
							?>-->
						</div>
					</fieldset>
				<% end %>
				<p>
					Don't have an account?  Register <a href="<%= @base_url %>/signup">here</a>.
				</p>
				<p>
					<a href="<%= @base_url %>/forgotpassword">Forgot your password?</a>
				</p>
			</div>
		</div>
<% elsif session[:admin_id] %>
  <li><%= link_to("Log out", @base_url + "/adminlogout", :method => :delete)%></li>

<% else %>

	<div id="base_url" style="display:none"><%= @base_url %></div>
	<div id="show_questionnaire" style="display:none">
		<% if @show_questionnaire then %>
		  true 
		<% else %>
		  false 
 		<% end %>
	</div>
	<div id="fb_user" style="display:none">
		<!--<?php 
			if($this->session->userdata('uid') && $this->session->userdata('usertype') == FACEBOOK_TYPE)
				echo 'true';
			else
				echo 'false';
		?>-->
	</div>
	<div class="topbar">
		<div class="fill">
			<div class="container">
				<h3><a href="<%= @base_url %>">Bar-view.com</a></h3>
				<ul>
					<li class="active"><a href="<%= @base_url %>">Home</a></li>
					<% if session[:user_id] and session[:usertype] == "BARVIEW" %>
						<li><a href="<%= @base_url %>/index.php?/editinfo">Edit Info</a></li>
					<% end %>
					<li><a href="<%= @base_url %>/mobile_info/index">Mobile</a></li>
					<li><a href="<%= @base_url %>/about/index">About us</a></li>
				</ul>
				<%= form_tag("/search/index", :method => "get") do %>
					<input type="text" id="search" name="search" maxlength="100" value="Search bars" />
				<% end %>
				<ul class="nav secondary-nav">
					<% if not session[:user_id] %>
						<li><a href="<%= @base_url %>/barhome">Bars</a></li>
						<li><a class="user_login" href="#data">Login</a></li>
					<% elsif session[:usertype] == "FACEBOOK" %>
						<li>
							<%
								callback_url = @base_url + '/userlogout';
								fb_array = ['next' => callback_url];
							%>
							<a href="<?php echo $facebook->getLogoutUrl($fb_array); ?>">
								<img 	src="http://static.ak.fbcdn.net/images/fbconnect/logout-buttons/logout_small.gif" 
										alt="http://static.ak.fbcdn.net/images/fbconnect/logout-buttons/logout_small.gif"/>
							</a>
						</li>
					<!-- BARVIEW logout -->
					<% elsif session[:usertype] == "BARVIEW" %>
						<li><%= link_to("Log out", @base_url + "/userlogout", :method => :delete)%></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<% if not ( @search_results or @no_hero )	%>
			<div class="hero-unit">
				<h1>Your night starts here</h1>
				<!--<p>Barview lets you do cool stuff...</p>-->
			</div>
		<% end %>

		
		
		
		<!-- ERROR/INFO MESSAGES -->
		<% if flash[:error] %>
			<div class="alert-message error"><p><%= flash[:error] %></div>
		<% end
		if flash[:notice] %>
			<div class="alert-message info"><p><%= flash[:notice] %></div>
		<% end %>
		
		
		<!-- QUESTIONNAIRE DIV FOR FACEBOOK USERS -->
		<div style="display:none">
			<div id="fb_questionnaire">
				<div class="container">
					<div class="row">
						<div class="span12">
							<%= form_tag("/user_questionnaire/create", :method => "post") do %>
								<fieldset>
									<legend>Quick questionnaire (you'll only have to do this once).</legend>
									<div id="fbq_errors"></div>
									<% if @questionnaire 
										for k, q in @questionnaire
									%>
										<div class="clearfix">
											<label for="q<%= k %>"><%= q['question'] %></label>
											<div class="input">
												<%= select('q' + k.to_s, 0, options_for_select(q['options'].invert)) %>
											</div>
										</div>
									<%   end
									  end
									%>
									<div class="actions">
										<%= submit_tag("Submit", :class => "btn primary") %>
									</div>
								</fieldset>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a style="display:none" id="fb_questionnaire_anchor" href="#fb_questionnaire"></a>
		
		<!-- LOGIN DIV FOR FANCYBOX -->
		<div style="display:none">
			<div id="data">
				<div class="row">
					<div class="span7">
						<%= form_tag("/userlogin", :method => "post") do %>
							<fieldset>
								<legend>Log in to Barview</legend>
								<div class="clearfix">
									<label for="username">Email: </label>
									<div class="input">
										<input type="text" name="email" id="email" />
									</div>
								</div>
								<div class="clearfix">
									<label for="password">Password: </label>
									<div class="input">
										<input type="password" name="password" id="password"/>
									</div>
								</div>
								<div class="actions">
									<input type="submit" name="submit" value="Login" class="btn primary"/>
								</div>
							</fieldset>
						<% end %>
						<p>
							Don't have an account?  Register <a href="<%= @base_url %>/users/new">here</a>.
						</p>
						<p>
							<a href="<%= @base_url %>/forgot_password/index">Forgot your password?</a>
						</p>
					</div>
					<div class="span6">
						<h3>Use an existing account:</h3>
						<!--<?php 
							$callback_url = base_url(); 
							$fb_array  = array('next' => $callback_url, 'scope' => 'email,user_birthday,user_location', 'cancel_url' => $callback_url);
						?>-->
						<a href="<?php echo $facebook->getLoginUrl($fb_array); ?>"><img src="http://static.ak.fbcdn.net/rsrc.php/zB6N8/hash/4li2k73z.gif"></a>
					</div>
				</div>
			</div>
		</div>
<% end %>


<%= yield %>

	<div id="footerWrapper" class="row" style="margin-top:50px;">
		<div class="span14"><p>©<%= Date.today.year %> Bar-view.com. All Rights Reserved.</p></div>
		<div class="span2"><p><a href="<%= @base_url %>/tos.html">Terms of Use</a></p></div>
	</div>
</div>
</body>
</html>
